$nav-row-height: 50px;

.nav {
  padding-top: 8px;
  width: 100%;
  .ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .li {
      list-style: none;
      height: $nav-row-height;
      width: 100%;
      padding: 16px;
      font-size: 1.3em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: border-left 0.2s, color 0.2s;
      color: #777;
      &:hover {
        color: black;
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 16px;
        height: $nav-row-height;
      }
    }
    .active {
      color: #333;
      font-weight: bold;
      &:hover {
        color: #333;
      }
    }
  }
}
