$row-height: 50px;
$row-background: white;

%row-shared {
  background: $row-background;
  height: $row-height;
  border-bottom: 1px solid lightgray;

}

.row {
  @extend %row-shared;
  &:hover {
    background:#eee;
  }
}

.clickable {
  cursor: pointer; 
}

.headerRow {
  @extend %row-shared;
  position:relative;
  // z-index: 3;
  box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
}