.table {
  margin: 8px 0px 8px 0px; 
  width: calc(100% - 16px);
  align-self: center;
  border-radius: 20px 20px 0 0;
  border-spacing:0;
  // border:1px solid lightgray;
  table-layout: auto;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;  
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // min-width:768px;
  overflow-x: scroll;
}

.warningMessage {
  width:100%;
  text-align: center;
}
