$row-height: 20px;
$header-row-height:60px;
$row-background: white;

%row-shared {
  background: $row-background;
  // border-bottom: 1px solid lightgray;

}

.row {
  @extend %row-shared;
  height: $row-height;
  &:nth-child(even) {
    background:rgb(247, 247, 247);
  }
  &:hover {
    background:#eee;
  }
}

.clickable {
  cursor: pointer; 
}

.headerRow {
  @extend %row-shared;
  position:relative;
  border-radius: 20px 0px 0px 20px;
  height: $header-row-height; 
  // z-index: 3;
  box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
}