.tag {
  padding:4px 8px 4px 8px;
  border-radius: 5px;
  display:inline-block;
  margin:4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 14px;
  position:relative;
  align-self: center;
  margin-left:8px;
}

.blue {
  background: rgb(105, 105, 255);
  color:white;
}

.yellow {
  background: rgb(255, 255, 178);
  color:gray;
}

.green {
  background:green;
  color:white;
}

.white {
  background:white;
  color:gray;
}

.red {
  background:#ff5d5d;
  color:white;
}