.dropdown {
  position:absolute;
  display:flex;
  flex-direction: column;
  left:0;
  background:white;
  z-index: 10;
  border:1px solid lightgray;
}

.dropdownRow {
  border-bottom: 1px solid lightgray;
  width:100%;
  cursor:pointer;
  padding:8px;
  min-width:300px;
}